
@{
    ViewData["Title"] = "Index";
}
@model Identity_membership.Core.ViewModels.UserVM
<div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <user-picture-thumbnail class="rounded" style="width:400px" picture-url="@Model.PictureUrl"></user-picture-thumbnail>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h2>Hoşheldin @User.Identity!.Name</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
